<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="bobby_v3">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import bobby_v3 urdf file -->
    <xacro:include filename="$(find bobby)/urdf/bobby.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="bobby_v3.ros2_control.xacro" />


    <xacro:bobby_v3_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
